.m-desc {
    font-size: 2rem;
    margin-top: 7.05rem;
    text-align: center;;
}

.m-img-top {
    margin-top: 6rem;
    .m-img1 {
        width: 60%;
    }
    
    .m-img2 {
        width: 38%;
    }
}

.m-img3 {
    width: 68%;
}

.m-img4 {
    width: 30%;
}

