#access {
    background-color: $bg-color-1;
    .access-inner {
        width: 100%;
        padding-top: $pt;
        @include tab {
            padding: 60px 0 63px 0;
        }
    }

    .sub-title {
        padding-left: 8%;
    }
}

.access-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 6px;
    @include tab {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .access-item {
        display: flex;
        flex-direction: column;
        padding-left: 104px;
        align-items: end;
        width: 40%;
        background-color: $bg-color-2;
        @include tab {
            width: 100%;
            padding: 0 0 60px 20px;
            align-items: stretch;
        }
        h3 {
            font-weight: bold;
            width: 100% - 17%;
            text-align: left;
            color: #00000038;
            font-size: 2.4rem;
            margin-top: 5em;
            @include tab {
                margin-top: 1.25em;
            }
        }
        p {
            font-size: 1.6rem;
            margin-top: 1.5em;
            color: #FFFFFF;
            &:firstchild {
                margin-top: 2em;
            }
        }
    }
    .map {
        width: 60%;
        height: 396px;
        @include tab {
            width: 100%;
        }
    }
}