
header {
    position: absolute;
    z-index: 1;
    @include tab {
        width: 100%;
        position: static;
    }
}

.hd-wrap {
    display: flex;
    align-items: center;
    height: 6%;
    padding: 68px 0 0 77px;
    @include tab {
        justify-content: space-between;
        width: 89%;
        height: 70px;
        margin: 0 auto;
        padding: 0;//打ち消し用
    }
    .pc-nav ul {
        display: flex;
        li {
        font-family: $f-family;
        font-size: 1.8rem;
        padding-left: 20px; 
        }
    }
    .hd-logo {
        font-family: $f-family;
        font-size: 3.8rem; 
        @include tab {
            font-size: 2.2rem;
        }
    }
}

.pc-nav {
    @include tab {
    display: none;}
}

.ham {
    display: none;
    @include tab {
        width: 16px;
        height: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    span {
        display: inline-block;
        width: 100%;
        height: 2px;
        background-color: #3B4043;
        &:last-child {
        width: 70%;
    }
}
}